.logo-margin {
    margin-right: 10px;
}

.logo-text {
    vertical-align: middle;
    margin-left: 5px;
}

#main-div {
    padding: 30px 30px 30px 30px;
}

#intro-div {
    background-color: #f7e8d3; /* tan (lighter) */
    border-radius: 10px;
    border-width: 1px;
    padding: 20px 20px 20px 20px;
    width: 75%;
    margin: auto;
    box-shadow: 5px -5px #efd1a8;
    border-color: #efd1a8;
    border-style: solid;
}

.center {
    text-align: center;
}

#input-width {
    /* padding-left: 100px;
    padding-right: 100px; */
    max-width: 90%;
}

#left-padding {
    padding-left: 10%;
}

.input-margin {
    margin: 10px 10px 10px 10px
}

.check-border {
    border-width: 1px;
    border-color: blue;
    border-style: solid;
}

.right-border {
    border-right-style: solid;
    border-width: 3px;
    border-color: #efd1a8; /* light brown */
}

#input {
    border-color: #f7e8d3;
    border-width: 1.5px;
    margin: 5px 5px 5px 5px;
}

#output {
    height: 250px;
    border-radius: 5px;
    border-color: #f7e8d3;
    border-width: 1.5px;
    border-style: solid;
    text-align: left;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 5px;
    overflow: auto;
    background-color: white;
}

.noresize {
    resize: none;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    animation: slideOut 1s ease-in;
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(-50%);
    }
    90% {
        opacity: 1;
        transform: translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(30px);
    }
}

/* Dosis-SemiBold */
@font-face {
    font-family: 'Dosis-SemiBold';
    src: url('fonts/Dosis-SemiBold.ttf') format('truetype');
}

.font-dosis-semibold {
    font-family: 'Dosis-SemiBold', 'Times New Roman', serif, sans-serif;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  margin-top: 13.5rem;
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
body::before {
  content: "";
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}